@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "popUpDetail";
@import "popUpSignIn";
@import "HoverInfo";
@import "registerPopUp.scss";

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #cc0000;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #191b20;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Inria Sans", sans-serif;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

header,
footer {
  background-color: #141517;
}

footer {
  height: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1110px;
  padding: 0 10px;
  margin: 0 auto;
}

.logoSite p,
.logoSiteFooter p {
  font-family: Inria Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.16px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  span {
    color: red;
  }
}

.copyright p {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.79px;
  text-align: left;
  color: #b8b8b8;
}

.navbar,
.navbarBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 40px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;

    li {
      font-family: Inria Sans;
      font-size: 14px;
      font-weight: 700;
      line-height: 16.79px;
      letter-spacing: 0.03em;
      text-align: left;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.navbarBottom {
  justify-content: space-evenly;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

// ----------------SearchBar--------------------------

// Main styles
#searchForm {
  position: relative;
  width: 20rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input,
.button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

.button {
  // derya a ajouté class button sinon il effect signin
  display: none; // prevent being able to tab to it
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
.label-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.cards {
  display: flex;
  padding: 10px;

  .card {
    z-index: 1;
    position: relative;
    overflow: hidden;

    .image {
      gap: 6px;
      z-index: 1;
      width: 100%;
      width: 234px;
      height: 351px;
      transition: transform 0.3s ease;
      height: 351px;
      object-fit: cover;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.sliderLatest,
.sliderResult .sliderGenre {
  margin-bottom: 50px;
  margin-top: 50px;
}

.sliderGenre {
  max-width: 1075px;
  height: auto;

  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  h3 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;

    li {
      padding: 3px;

      &:hover {
        background-color: #cc0000;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

  hr {
    width: 599px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

//Arrows
//________________________________________________________________

.splide__arrow--next svg {
  display: none;
}

.splide__arrow--prev svg {
  display: none;
}
.splide__arrow--prev {
  border: 2px solid #737373;
  width: 26px;
  height: 26px;
  background-image: url(arrowPreview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
  left: -50px;
}
.splide__arrow--next {
  border: 2px solid #737373;
  width: 26px;
  height: 26px;
  background-image: url(arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
  right: -50px;
}
.splide__arrow--prev:active {
  background-color: #fffffa;
  z-index: 1000;
  opacity: 2;
  border: 2px solid brown;
}
//________________________________________________________________

////////////////////////////////////////////////////////////////////////////////////////////

///

//Responsive
@media (max-width: 768px) {
  .navbar,
  .navbarBottom {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }
}

//________________________________________________________________________________

